@model SignUpViewModel
<div class="row">
    <div class="col-4 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"></div>
    <div class="col-4 col-sm-12 col-md-4 col-lg-6 col-xl-8">
        <h3>Создать нового пользователя</h3>
        <form asp-controller="Account" asp-action="SignUp" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="mb-3">
                <label class="form-label">Имя пользователя</label>
                <input asp-for="Username" class="form-control" type="text">
                <span asp-validation-for="Username" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control" type="password">
                <span asp-validation-for="Password" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Введите пароль еще раз</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password">
                <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit">
                <span>@ViewData["Error"]</span>
            </div>
            <a asp-controller="Account" asp-action="Login"
               asp-route-returnUrl="@Model.ReturnUrl">
               Войти в существующий аккаунт.</a>
        </form>
    </div>
    <div class="col-4 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2"></div>
</div>