@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,@Model.Username</h1>
    <p><a asp-controller="Account" asp-action="Logout">выйти из аккаунта</a>.</p>
</div>
